<plugin name='class-diagram' version='0.3' grailsVersion='1.1.1 &gt; *'>
  <author>Trygve Amundsen</author>
  <title>Creates class diagram of Grails domain model</title>
  <description>\
Provides a class diagram of all the domain classes with their properties, methods, 
associations and inheritance to other domain classes. 
The excellent utility graphviz (http://www.graphviz.org/) is used for diagram layout.
</description>
  <documentation>http://grails.org/plugin/class-diagram</documentation>
  <resources>
    <resource>ClassDiagramConfig</resource>
    <resource>ClassDiagramController</resource>
    <resource>test.AbstractParent</resource>
    <resource>test.Bar</resource>
    <resource>test.Child</resource>
    <resource>test.Foo</resource>
    <resource>test.FooBar</resource>
    <resource>test.Many</resource>
    <resource>test.Oner</resource>
    <resource>test.Parent</resource>
    <resource>ClassDiagramLegendService</resource>
    <resource>ClassDiagramService</resource>
  </resources>
  <dependencies />
</plugin>